/**
 * Framing
 */

html,body {
    margin: 0;
    padding: 0;
}
div#app {
    display: block;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

/**
 * FONTS
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/**
 * Navbar specific Styles
 */

div#navbar_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
div#navbar_container div.navbar_left {
    width: auto;
}
div#navbar_container div.navbar_middle {
    flex-grow: 100;
    text-align: center;
}
div#navbar_container div.navbar_right {
    width: auto;
    padding-top: 20px;
}
div.navbar_left img.logo {
    width: auto;
}
div#navbar_container div.navbar_middle button {
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
    height: 100%;
    padding-left: 10px;
    padding-right: 20px;
    font-family: 'Montserrat',sans-serif;
    cursor: pointer;
}
i.navbar_social_icon {

}
div.navbar_right > a {
    margin-right: 22px;
}
div.navbar_right > a > i {
    font-size: 24px;
}
div.navbar_right > a:last-of-type {
    margin-right: 0;
}